
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &.show {
        display: block;
    }
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    display: block;
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 70%; 
    box-sizing: border-box;
    margin-top: 10%;
  }
.modal.show {
    display: block;
}

@media screen and (max-width: 1024px) {
    .modal-content {
        width: 90%;
        margin-top: 10px;
    }

}
  