.inline-code {
    background: #1E1E1E;
    color: #DCDCDC;
}
body {
    margin-bottom: 50px;
}
h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}
.chat-link:hover {
    cursor: pointer;
}
.chat {
    width: 90%;
    margin: 0 auto;
    text-align: start;
}
.chat-link {
    display: block;
}

.new-conversation{
    max-height: 600px;
    overflow-y: scroll;
    background-color: #faf7df;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}
.new-conversation input{
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 50px;
    margin: 10px auto;
    display: block;
}

.new-conversation textarea {
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 150px;
    margin: auto;
    display: block;
}

.new-conversation button[type=submit]{
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 50px;
    margin: 10px auto;
    display: block;
    background-color: #a7c194;
    border: none;
    color: #1E1E1E;
    font-weight: bold;
}

.new-conversation button[type=submit]:hover{
    background-color: #8ab07c;
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}