



  #lista-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#lista-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px ,0;
    background-color: #efefef;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#lista-links li a:first-of-type {
    width: 100%;
    text-align: center;
    margin-left : 0;
}
#lista-links li:hover {
    background-color: #ddd;
}

#lista-links li a {
    text-decoration: none;
    color: #333;
    margin-right: 5px;
    padding: 10px 0;
}
  
  .btn-borrar {
    background-color: transparent; /* color transparente del fondo del botón */
    border: none; /* elimina el borde del botón */
    cursor: pointer; /* convierte el cursor en una mano al pasar por encima del botón */
  }
  
  .btn-borrar i {
    color: #b43030; /* color del icono de la basura */
    font-size: 20px; /* tamaño del icono de la basura */
    vertical-align: middle; /* alinea verticalmente el icono con el texto */
  }

  .fa-trash:hover, .fa-trash-alt:hover, .fa-times:hover  {
    color: #ff0000; /* color del icono de la basura al pasar por encima */
  }
  main {
    margin-top: 50px; /* margen superior para que no se superponga con el navbar */
  }
  section.draggable {
    cursor: grab;
  }
  .fas:hover {
    font-size: 32px;
    cursor: pointer;
  }
  .fas {
    font-size: 24px;
  }
  .fa-lock, .fa-save,.selected .fa-arrows-alt {
    color: #188231;
  }
  .fa-lock:hover, .fa-save:hover, .selected .fa-arrows-alt:hover{
    color: #1bd446;
  }

  .fa-edit {
    color: #8d6b22;
  }
  .fa-edit:hover {
    color: #e1c245;
  }
  .fa-paper-plane,.fa-circle-plus {
    color: #1e5e9c;
  }
  .fa-paper-plane:hover,.fa-circle-plus:hover {
    color: #2cb3f2;
  }
  .fa-trash, .fa-times, .fa-trash-alt {
    color: #932d0e;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  button.fas {
    background-color: transparent;
    border: none;
  }

  .bold {
    font-weight: bold;
  }

  .main-image {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    max-height: 50vh;
  }
  
  h1, h2 {
    text-align: center;
  }

  .new-conversation {
    text-align: center;
    margin: 20px 0;
  }
  #lista-links {
    max-height: 600px;
    overflow-y: scroll;
    background-color: #faf7df;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
  }
  @media screen and (max-width: 1024px) {
    .fas {
      font-size: 60px;
      margin: 0 10px;
    }
    .fas:hover {
      font-size: 80px;
    }
    #nav {
      height: 90px;
    }
    main {
      margin-top: 80px;
      margin-bottom: 120px;
    }
    body {
      font-size: 2.5rem;
    }
    select {
      font-size: 2.5rem;
      width: 50%;
    }
  }
    